{% extends 'base.html' %}

{% block title%}
    {{post.author}} - {{ post.title }}
{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }}
        {{ post.author.last_name}} - {{ post.created_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update-post' post.pk %}"><u>Edit</u></a>
                <a href="{% url 'delete-post' post.pk %}"><u>Delete</u></a>
            {% endif %}
        {% endif %}
    </small>
    <br/>
    <hr>
    {{ post.body|safe }}
    {% if post.image %}
        <br/><br/>
        <img src="{{ post.image.url }}">
    {% endif %}
    <br/><br/>
    <div class="card mb-3">
        <div class="row no-gutters">
            {% if post.author.profile.profile_pic %}
            <div class="col-md-2">
                <img src="{{ post.author.profile.profile_pic.url }}" class="card-img">
            </div>
            {% endif %}
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name}}</h5>
                    <p class="card-text">{{ post.author.profile.bio }}</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>    
    <br/>
    <hr>
    <h2>Comments...</h2>
    {% if not post.comments.all %}
        No comments yet... <a href="{% url 'add-comment' post.pk%}">Add one</a>
    {% else %}
    <a href="{% url 'add-comment' post.pk%}">Add comment</a>
    <br/><br/>
        {% for comment in post.comments.all %}
            <strong>{{ comment.user }}</strong> 
            <small>{{ comment.date_added }}</small>
            <br/>
            {{ comment.body}}
            <a href="{% url 'add-comment' comment.id %}">Reply</a>
            <hr>
            {% for reply in comment.replies.all %}
            <!-- reply.parent_id - {{reply.parent_id}} |
            reply.id - {{reply.id}} |
            comment.id - {{comment.id}} -->
                <li>{{ reply.user }} - {{ reply.body }}</li>
                <a href="{% url 'add-comment' comment.id reply.id %}">Reply</a>
            {% endfor %}
            <hr>
        {% endfor %}
    {% endif %}
{% endblock %}