{% extends 'base.html' %}

{% block title%}
    {{post.author}} - {{ post.title }}
{% endblock title %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }}
        {{ post.author.last_name}} - {{ post.created_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update-post' post.pk %}"><u>Edit</u></a>
                <a href="{% url 'delete-post' post.pk %}"><u>Delete</u></a>
            {% endif %}
        {% endif %}
    </small>
    <br/>
    <hr>
    {{ post.body|safe }}
    {% if post.image %}
        <br/><br/>
        <img src="{{ post.image.url }}">
    {% endif %}
    <br/> <br/>
    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% endblock %}