{% extends 'base.html' %}
{% load static %}


{% block content %}
<h1>User Profile</h1>

<div class="card mb-3">
    <div class="row no-gutters">
          <div class="col-md-2">
              {% if user.profile_pic %}
                  <img src="{{ user.profile_pic.url }}" class="card-img">
              {% else %}
                  <img src="{% static 'blog/images/default.jpg' %}" class="card-img">
              {% endif %}
          </div>
        <div class="col-md-10">
            <div class="card-body">
                <h5 class="card-title">{{ user.user.username }}</h5>
                <p class="card-text">{{ user.user.profile.bio }}</p>
            </div>
        </div>
    </div>
  </div>


{% endblock %}